{% extends "base.html" %}
{% load static %}

{% block content %}

  <main>
      <div class="jumbotron">
        <div class="container">  
          <h1>About Me </h1>
          <p>Here you will find a brief summary of my life so far.</p><br>
          <a href="{% url 'sms_backend:cv' %}" class="btn-main"> Next Page</a>
        </div>
      </div>  
  </main>
    
  <section class="supporting">
    <div class= "left-box">
      <div class="item">
      <h4>Early life &emsp; &emsp; 1990-2010</h4>
      <p>Until I moved to Brighton for university, I had only ever lived in one house, which was my parents home in West London.
        With both my parents having Polish ancestry my first language was naturally Polish, and only learned English when I went 
        to elementary school. Sadly my Polish never recovered from being dethroned as my native language, although I am still 
        conversationally fluent, and have taught myself to read Polish to some extent.
      </p><br>
      <p>My first school was called Hill House and it was spread out around Sloan Square and Knightsbridge. This was where I spent my 
        time untill my 13+ exams, which I skipped as I had already gotten a place at my secondary school, City of London Boys School.
      </p><br>
      <p>City of London was where I took my GCSEs and A-levels. My GCSEs included all the required modules with Russian as my chosen 
        language. For my AS-levels I took Maths, Physics, Art, and Philosophy, dropping the latter for my A-levels.
      </p><br>
      <p>After my A levels I took some time to work in various locations. The first of these was working a retail assistant at Currys. 
        This was follwed by an extremely informative time working as a chef. Initially I thought to take a degree in architecture, 
        but instead decided to follow into physics instead, and found a place at Sussex University in Brighton. 
      </p>
      </div>
      <div class="item">
      <img src="/static/Images/aboutme-earlylife.jpg" alt="Early Life">
      </div>
    </div>
  </section>

  <section class="supporting">
    <div class= "right-box">
      <div class="item">
        <img src="/static/Images/aboutme-university.JPG" alt="University">
      </div>
      <div class="item">
        <h4>University &emsp; &emsp; 2010-2015</h4>
        <p>At Sussex I developed many of the skills I have today. I greatly enjoyed my degree and all the courses in it.
        </p><br>
        <p>While working through my studies I took part in both student council and took charge of the physics society at Sussex. This gave 
          me ample experience organising a multitude of events and coordinating people to preassigned tasks. 
        </p><br>
        <p>Once my undergraduate degree had been completed I decided I wanted to do further study, and as my interest up until that point had 
          always been in the more theoretical subjects, I chose to find a theoretical particle physics project. At the time the Higgs Boson had 
          not yet been confirmed and Supersymmetry was still a hopeful theory with results possibly coming in within the next yeat. This changed 
          during my Masters and it is quite clear now that if Supersymmetry exists, it is not how it was theorised in my paper. 
        </p><br>
        <p>One thing that stood out to me was how disconnected I felt to the subject matter, and as such decided to not follow on to a PhD in 
          theoretical physics. I decided to look for something more practical after I left.
        </p>
      </div>
    </div>
  </section>

  <section class="supporting">
    <div class= "left-box">
      <div class="item">
        <h4>Post-University &emsp; &emsp; 2015-2019</h4>
        <p>My initial desire was to try to find more details on the emerging technology of quantum computation. Finding a PhD opportunity or really 
          any sort of professional placement in the area proved challenging with my theoretical background. Thus I endevoured to keep working in laboratories and 
          try to develop the skills needed to research this area.
        </p><br>
        <p>This led me back to London where I first found employment as a chef for a few hectic months in summer. After this I found steady employment as 
          a science technician at 2 different schools. While these jobs were enjoyable and gave me a lot of experience with health and safety in laboratories, 
          I still wanted to return to university to continue my studies. By now machine learning had taken off in the public zeitgeist and it left me with 
          some interesting questions about its applications in quantum computing.
        </p><br>
        <p>I decided to apply for a Masters in quantum communication at UCL with a focus on using machine learning on quantum systems.
        </p>
      </div>
      <div class="item">
        <img src="/static/Images/aboutme-postuniversity.jpg" alt="Post University">
      </div>
    </div>
  </section>

  <section class="supporting">
    <div class= "right-box">
      <div class="item">
        <img src="/static/Images/aboutme-university2.jpg" alt="University 2.0">
      </div>  
      <div class="item">
        <h4>University 2.0 &emsp; &emsp; 2019-PRESENT</h4>
        <p>While my previous Masters left me with only theoretical skills, this course gave me a fantastic opportunity to practice my coding ability. Prior to this course 
          I had always enjoyed the coding I had done, but it was quite limited in its scope. Here I had the opportunity to really spread my wings with the problems and 
          projects I took on.
        </p><br>
        <p>In the first term I had to find my own project supervisor as the university was overbooked, and I found one that was willing to take me on with a project that 
          involved using machine learning techniques on quantum systems. I also found two more courses that taught me about high performance computing and general coding practices
          such as project control through GitHub. 
        </p><br>
        <p>I learned that the things I wanted to achieve in machine learning were completely doable without the use of qubits, although I had the ability to extend these 
          techniques to them if they became commercially viable in the future. 
        </p><br>
        <p>Since finishing my degree I have keep up and further improve my coding skills as well as learn new subjects. This is in combiantion with looking for employment as 
          either a programmer, or with developing quantum computers.
        </p>
      </div>
    </div>
  </section>

{% endblock %}