{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
	<div class="jumbotron">
		<div class="container">
			<h1> My hobbies and interests </h1>
			<a href="{% url 'sms_backend:python_project' %}" class="btn-main"> Next Page</a>
		</div>
	</div>
</main>

<section class="supporting">
	<div class="left-box">
		<div class="item">
			<h4>Cooking</h4>
			<p>Most of the chefs I've met or read about have stories of how they cooked with a parental figure from a
				young age,
				which nurtured their interest in the subject. My interest came about from an almost entierly opposite
				direction. I have memories
				of making cakes when I was younger but my interest really started when I started cooking meals for
				myself in my mid-late teen years.
			</p><br>
			<p>This interest was given a golden opportunity shortly before university when I found a job as a kitchen
				porter at a North
				London trattoria. The hours were long and the journey took over an hour but it really fed into my
				passion as I was given the
				opportunity to assist in preparation and eventually took on a role more closely resembling a commis
				chef.
			</p><br>
			<P>However I eventually decided to stick with my decision to go to university instead of pursuing the
				culinary arts, although my interest
				in the subject remained and I spent the next few years developing more skills. Since then I have had a
				far less enjoyable stint
				as a chef but my enthusiasm for cooking has not diminished.
			</P><br>
			<p>I enjoy throwing semi-lavish dinner parties for friends and self-catering social events I organise. This
				is in addition to
				my much maligned determination to experiment with dishes. I can recall a specific time I forced myself
				and my partner to eat
				ham hocks for about two weeks while I perfected a recipe.
			</p>
		</div>
		<div class="item">
			<img src="/static/Images/hobbies-cooking.jpg" alt="Cooking">
		</div>
	</div>
</section>

<section class="supporting">
	<div class="right-box">
		<div class="item">
			<img src="/static/Images/hobbies-computers.jpeg" alt="Computers">
		</div>
		<div class="item">
			<h4>Computers</h4>
			<p>This was again a surprisingly late addition to my interests. My parents were never particularly computer
				literate and we
				only owned the one PC for many years. The first PC I had was probably in about 2004, at around the same
				time I got my first
				console, the PS2. I used the computer to run World of Warcraft, which it did not do a good job of.
			</p><br>
			<p>Thus started my interest in computers, or rather, the search to be able to play my games at a decent
				framerate. I bought a
				computer from a colleague while I worked at Currys and this served me well for a while. A few upgrades
				and assistances from friends
				carried me through until I got to university which is when I built my first computer.
			</p><br>
			<p>That computer lasted me for many years, although with notable additions of a full water loop after some
				not so educated choices
				in GPU. The image opposite is one of my miscalculations on my latest build, do not use coloured coolant,
				it will stain everything.
			</p><br>
			<p>On top of building computers for myself I have also helped my friends and family build their own, most
				notably maintaining my partner's
				current rig.
			</p>
		</div>
	</div>
</section>

<section class="supporting">
	<div class="left-box">
		<div class="item">
			<h4>Artistic Endevours</h4>
			<p>At secondary school I took a real interst in art, achieving a 100% score on my art GCSE. While I took a
				very different path
				in university and science in general, I still like exploring my creative side on occasion.
			</p><br>
			<p>One of these is a hobby of painting miniatures, of which I have a sizable collection. Perhaps one day I
				will have the space to
				display them.
			</p><br>
			<p>Pictured opposite was my custom paintjob for my PS4 controller, which still works to this day.</p>
			<br>
			<p>While not artistically creative, I do creative writing for my D&D campaigns, which involves writing
				characters, stories, events and
				more.</p>
		</div>
		<div class="item">
			<img src="/static/Images/hobbies-controller.jpg" alt="Controller">
		</div>
	</div>
</section>

<section class="supporting">
	<div class="right-box">
		<div class="item">
			<img src="/static/Images/hobbies-gaming.jpg" alt="Gaming">
		</div>
		<div class="item">
			<h4>Gaming</h4>
			<p>As mentioned in the computer building section, I have a keen interest in games. My first memory of a game
				is probably playing the old
				space invaders on my father's computer when he wasn't using it. It was accessed through command line,
				before desktops existed, yes I'm old
				enough to have used a save icon.
			</p><br>
			<p>After this my next gaming related memory was playing Pokémon when it came out, along with their sequels.
				Thus owning a Gameboy and the
				GBA when it came out. This lead to my first RPG, Golden Sun and its sequel. After this I "tricked" my
				parents into buying me a Playstation
				on a family vacation to Ghana, although at this time I still wasnt playing games that often. This would
				change when I started playing World
				of Warcraft, and is probably where I can trace my current hobby interest to.
			</p><br>
			<p>Having my own computer allowed me to play much more frequently, and once I built my own functioning
				computer a few years later, I was free
				to really broaden my gaming horizons. These days I'm much more selective of the games that I play,
				selecting games that value my time invested
				in them. I.e. not requring playing long hours or tying me into commitments every day, I have also made
				some great friends through the social
				groups that form naturally in these games.
			</p><br>
			<p>Some of these online friends I also choose to see in person, through social events and boardgame nights.
				I am also currently a Dungeon Master
				in a D&D group and own many board games that I frequently whip out at said social events.
			</p>
		</div>
	</div>
</section>

<section class="supporting">
	<div class="left-box">
		<div class="item">
			<h4>Sports</h4>
			<p>Despite my obviously nerdy interests I maintain a very good knowledge of physical sports as well. This
				can mostly be attributed to the prep
				school I attended, Hill House. Instead of usual breaks and lunches, we instead did 2-3 hours a day of
				mandatory sports. We would often walk
				over to Hyde Park or the Duke of Yorks barracks to partake in a long list of sports. From this gained a
				good grasp of a large range of rules and
				basic play techniques of various sports. Of particular interest for me were fencing and cricket, the
				latter of which I was on the school team
				for. At my secondary school my interest in sports diminished somewhat, but I did develop an interest in
				basketball.
			</p><br>
			<p>It wasn't until university that I took up regular team sports again, joining a football team that met
				regularly and taking up squash with a few
				friends, as well as starting a fairly vigorous gym routine, that sadly I didnt keep up for as long as I
				should have.
			</p><br>
			<p>Currently I try to run 2-3 days a week, and do other weights on those days as well. When I'm able to I
				also like to play some squash with my partner
				and go snowboarding in Finland.
			</p>
		</div>
		<div class="item">
			<img src="/static/Images/hobbies-warhammer.jpg" alt="Sports">
		</div>
	</div>
</section>

{% endblock %}