{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
	<div class="jumbotron">
		<div class="container">
			<h1>Website of Sandro Moszczynski </h1>
			<p>I created this website from scratch to showcase my talents and achievements. Clicking below will start
				you on a tour of each page in the website.</p>
			<br>
			<a href="{% url 'sms_backend:about' %}" class="btn-main"> Start the tour </a>
		</div>
		<p>Alternatively, you can directly go to any page from either the nav menu at the top or by clicking one of the
			pages below.</p>
	</div>

</main>
<section class="supporting">
	<div class="container_grid_index">

		<div class="item">
			<div class="sub-item-t">
				<h2>About Me</h2>
			</div>
			<div class="sub-item-p">
				<p>This is a brief introduction to me and my past. Including the "broad strokes" history of my life.</p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:about' %}"> Learn More</a>
			</div>

			<div class="sub-item-s"></div>

			<div class="sub-item-t">
				<h2>Hobbies</h2>
			</div>
			<div class="sub-item-p">
				<p>A brief section devoted to my non-professional interests. These include cooking, building computers,
					other artistic and creative outlets, gaming and sports.</p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:hobbies' %}"> Learn More</a>
			</div>
		</div>

		<div class="item">
			<div class="sub-item-t">
				<h2>Online CV</h2>
			</div>
			<div class="sub-item-p">
				<p>This is where you will find all information on my professional and academic achievements as well as
					any skills I feel are relevant to any future employers.</p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:cv' %}"> Learn More</a>
			</div>

			<div class="sub-item-s"></div>

			<div class="sub-item-t">
				<h2>Python Project</h2>
			</div>
			<div class="sub-item-p">
				<p>An as yet unnamed project written in Python. It will use a machine learning algorithm to trawl
					clothes and fashion site and determine the best clothing options for a person. </p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:python_project' %}"> Learn More</a>
			</div>
		</div>


		<div class="item">
			<div class="sub-item-t">
				<h2>Programming</h2>
			</div>
			<div class="sub-item-p">
				<p>This contains links to my Github, Codeacademy and Hacker rank pages as well as details of what each
					of the projects listed in Github contain and other programming tasks completed.</p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:programming' %}"> Learn More</a>
			</div>

			<div class="sub-item-s"></div>

			<div class="sub-item-t">
				<h2>C++ Project</h2>
			</div>
			<div class="sub-item-p">
				<p>An as yet unnamed project written in C++. This will take the form of a crude Minecraft clone written
					in C++. Details of versions can also be found here.</p>
			</div>
			<div class="sub-item-l">
				<a href="{% url 'sms_backend:cpp_project' %}"> Learn More</a>
			</div>
		</div>
	</div>

</section>

{% endblock %}