{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
	<div class="jumbotron">
		<div class="container">
			<h1>Un-Named Python Project</h1>
			<a href="{% url 'sms_backend:cpp_project' %}" class="btn-main"> Next Page</a>
		</div>
	</div>
</main>

<section class="supporting">
	<div class="container">
		<h3>About The Program</h3>
		<p> write about the program a bit here</p>
		<h4>Objectives of Program</h4>
		<ul>
			<li>To read a webpage</li>
			<li>To be able to distinguish between clothing items</li>
			<li>To be able to distinguish between clothing items without tags</li>
			<li>To be able to find a specific request</li>
			<li>To be able to guess a new item from memory</li>
			<li>To be able to see difference between websites tags and actual product</li>
		</ul>
	</div>
</section>

<section class="supporting">
	<div class="container">
		<h3>Current status of Program</h3>
		<p>Here is the github link to the current project</p><br>
		<a href="" class="btn-main" target="_blank"> GitHub</a>
		<h4>Recent Changelog</h4>
		<ul>
			<li>None yet</li>
		</ul>
		<h4>To do List</h4>
		<ul>
			<li>Start Program</li>
			<li>Configure way to read webpages</li>
			<li>Write agent</li>
			<li>Link agent to reading of webpages</li>
			<li>configure database structure for agent</li>
			<li>speed optimisation of agent for big data</li>
		</ul>
	</div>
</section>

{% endblock %}