[Unit]
Description=Gunicorn Service
After=network.target
StartLimitBurst=5
StartLimitInterval=500

[Service]
Type=simple
User=USER
Group=USER
EnvironmentFile=CONFIG_DIR/gunicorn.env
WorkingDirectory=ROOT_DIR/django
ExecStart=/home/ubuntu/Website/venv/bin/gunicorn --config /home/ubuntu/sms_config.d/gunicorn.conf.py sms_core.wsgi
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target