[Unit]
Description=Gunicorn Service
After=network.target
StartLimitBurst=5
StartLimitInterval=500

[Service]
Type=simple
User=USER
Group=USER
EnvironmentFile=CONFIG_DIR/gunicorn.env
WorkingDirectory=ROOT_DIR/sms_core
ExecStart=/bin/sh -c '${GUNICORN_BIN} --config ${GUNICORN_CONF} $GUNICORN_APP'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target