html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  position:fixed;
  width:100%;
  z-index:2;
}

nav {
  margin: 0;
  padding: 10px 0;
}

a {
  color: rgb(49, 46, 46);
  text-decoration: none;
}

nav ul {
  margin: 10px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 100px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}


main {
  text-align: center;
  position:relative;
  top: 80px;
  font-family: 'Raleway', sans-serif;
}

main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

main .jumbotron p {
  max-width: 900px;
  text-align: center;
  margin: auto;
}

footer {
  position: bottom;
  width:100%;
  margin-top: 60px;
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
}

footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}



footer .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.jumbotron {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10px;
}

.jumbotron p {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-default {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  margin-bottom: 20px;      
}

.supporting {
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 50px; 
  font-family: 'Raleway', sans-serif;
}

.supporting .col {
  font-family: 'Raleway', sans-serif;
  position: top;
  text-align: top;
  display:inline-block;
  width: 200px;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

.supporting h3 {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.supporting h4 {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.col a {
  background-color: white;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #333333; 
  border-radius: 5px;
}

.supporting li{
  font-size: 20px;
  list-style-type: none;
 }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.container .p_thinner{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container .p_thinner_2{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container_grid_cv{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  justify-content: center;
}

.container_grid_cv_2{
  max-width: 1200px;
  margin: 10px auto;
  padding: 50px 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 5fr;
  grid-row: auto;
  justify-content: center;
}

.container_grid_cv_2 .sub-item{
  height: 200px;
}

.container_grid_codingeg{
  max-width: 1200px;
  margin: 10px auto;
  padding: 50px 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row: auto;
  grid-auto-flow: column;
  gap: 4px;
  justify-items: center;
  border: 2px solid #333333; 
  border-radius: 5px;
}

.container_grid_codingeg h4{
  font-weight: 600;
  font-size: 20px;
  text-transform: none;
  text-align: center;
}

.container_grid_codingeg .sub-item{
  height: 170px;
  margin: 5px 5px;
}

.container_grid_codingeg .sub-item_2{
  height: 200px;
  margin: 5px 5px;
}

.container_grid_codingeg a {
  background-color: white;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #333333; 
  border-radius: 5px;
}

#skill_titles{
  font-size: 30px;
  padding-right: 20px;
}

.container_grid_cv_2{
  font-size: 15px;
}

@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

.supporting .col {
    width: 100%;
  }
}

.left-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  justify-content: center;
  font-size: 20px;
}

.left-box p {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}

.left-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  opacity: 90%;
  object-fit: cover;
}

.right-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  justify-content: center;
  font-size: 20px;
}

.right-box p {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}

.right-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  opacity: 90%;
  object-fit: cover;
}